{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <h2 class="text-center text-danger">Confirmer la Suppression</h2>
        <p class="text-center">Voulez-vous vraiment supprimer cet artile ? Cette action est irréversible.</p>
        
        <div class="text-center mt-4">
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Oui, Supprimer</button>
                <a href="{% url 'article' %}" class="btn btn-secondary">Annuler</a>
            </form>
        </div>
    </div>
{% endblock %}
